<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Restaurant Locator - by Algolia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/main.css">
</head>
<body ng-app="TechTest">

<div class="main-container" ng-controller="searchCtrl">
    <div class="row">
        <div class="search-zone">
            <form action="">
                <input type="text" autocomplete="off" placeholder="Search for Restaurants by Name, Cuisine, Location" class="form-control" id="search-box" ng-model="searchbox">
            </form>
        </div>
    </div>
    <div class="row main-content">

        <div class="restaurant-list-container">
            <h4 class="results-count">{{content.nbHits}} results found <span class="search-time">in {{content.processingTimeMS}} ms</span></h4>
            <div class="restaurant-list">
                <div class="restaurant-list-item" ng-repeat="restaurant in content.hits">
                    <div class="restaurant-list-item-img">
                        <img ng-src="{{restaurant.image_url}}" alt="">
                    </div>
                    <div class="restaurant-list-item-content">
                        <h2 class="restaurant-list-item-name" ng-bind-html="restaurant._highlightResult.name.value"></h2>
                        <div class="restaurant-list-item-rating">
                            <span class="rating-value" ng-bind-html="restaurant.stars_count"></span>
                            <span class="rating-star">
                                <div class="rating-star-sprite">
                                    <span style="width: {{getStarRatingPercentage(restaurant.stars_count)}}" class="rating-star-sprite-rating"></span>
                                </div>
                            </span>
                            (<span class="rating-review" ng-bind-html="restaurant.reviews_count"></span>)
                        </div>
                        <div class="meta">
                            <span ng-bind-html="restaurant._highlightResult.food_type.value"></span> | <span ng-bind-html="restaurant.neighborhood"></span> | <span ng-bind-html="restaurant.price_range"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-container">
                <button class="btn btn-default btn-show-more" ng-click="showMore()">Show more</button>

            </div>
        </div>
        <aside class="search-filter">
            <section class="cuisine-filter">
                <h4>Cuisine/Food Type</h4>
                <input type="text" ng-model="food_type_filter" placeholder="Search for food type">
                <ul>
                    <li ng-repeat="food_type in food_types | filter:food_type_filter | limitTo:10">
                        <a href="" ng-class="{'active' : food_type.isRefined}" ng-click="toggleRefinement(food_type.name, 'food_type')">
                            {{food_type.name}}
                            <span class="restaurant-count">{{food_type.count}}</span>
                        </a>
                    </li>
                </ul>
            </section>
            <section class="rating-filter">
                <h4>Rating</h4>
                <ul>
                    <li>
                        <a href="">
                            <div>
                                <img src="assets/img/star-empty.png" alt="" width="15px">
                                <img src="assets/img/star-empty.png" alt="" width="15px">
                                <img src="assets/img/star-empty.png" alt="" width="15px">
                                <img src="assets/img/star-empty.png" alt="" width="15px">
                                <img src="assets/img/star-empty.png" alt="" width="15px">
                            </div>
                            <span class="restaurant-count">70</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div>
                                <img src="assets/img/stars-plain.png" alt="" width="15px">
                                <img src="assets/img/star-empty.png" alt="" width="15px">
                                <img src="assets/img/star-empty.png" alt="" width="15px">
                                <img src="assets/img/star-empty.png" alt="" width="15px">
                                <img src="assets/img/star-empty.png" alt="" width="15px">
                            </div>
                            <span class="restaurant-count">70</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div>
                                <img src="assets/img/stars-plain.png" alt="" width="15px">
                                <img src="assets/img/stars-plain.png" alt="" width="15px">
                                <img src="assets/img/star-empty.png" alt="" width="15px">
                                <img src="assets/img/star-empty.png" alt="" width="15px">
                                <img src="assets/img/star-empty.png" alt="" width="15px">
                            </div>
                            <span class="restaurant-count">70</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div>
                                <img src="assets/img/stars-plain.png" alt="" width="15px">
                                <img src="assets/img/stars-plain.png" alt="" width="15px">
                                <img src="assets/img/stars-plain.png" alt="" width="15px">
                                <img src="assets/img/star-empty.png" alt="" width="15px">
                                <img src="assets/img/star-empty.png" alt="" width="15px">
                            </div>
                            <span class="restaurant-count">70</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div>
                                <img src="assets/img/stars-plain.png" alt="" width="15px">
                                <img src="assets/img/stars-plain.png" alt="" width="15px">
                                <img src="assets/img/stars-plain.png" alt="" width="15px">
                                <img src="assets/img/stars-plain.png" alt="" width="15px">
                                <img src="assets/img/star-empty.png" alt="" width="15px">
                            </div>
                            <span class="restaurant-count">70</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" >
                            <div>
                                <img src="assets/img/stars-plain.png" alt="" width="15px">
                                <img src="assets/img/stars-plain.png" alt="" width="15px">
                                <img src="assets/img/stars-plain.png" alt="" width="15px">
                                <img src="assets/img/stars-plain.png" alt="" width="15px">
                                <img src="assets/img/stars-plain.png" alt="" width="15px">
                            </div>

                            <span class="restaurant-count">70</span>
                        </a>
                    </li>
                </ul>
            </section>
            <section class="payment-filter">
                <h4>Payment option</h4>
                <ul>
                    <li ng-repeat="option in payment_options">
                        <a href="" ng-click="toggleRefinement(option.name, 'payment_options')" ng-class="{'active' : option.isRefined}">
                            {{option.name}}
                            <span class="restaurant-count">{{option.count}}</span>
                        </a>
                    </li>
                </ul>
            </section>
        </aside>
    </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="assets/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

<script src="https://cdn.jsdelivr.net/g/algoliasearch@3(algoliasearchLite.min.js),algoliasearch.helper@2"></script>
<script src="vendor/angular.min.js"></script>
<script src="vendor/angular-sanitize.min.js"></script>

<script src="assets/js/main.js"></script>
</body>
</html>
